body > ul:nth-child(8),
body > ul:nth-child(9),
body > div.animate-fade-in.drop-shadow-2xl.hidden.w-max.absolute.top-0.left-0.rounded.overflow-hidden.z-10.border.border-embed-highlight,
#rightcontainer,
#leftcontainer > div.navpath,
#leftcontainer > div.usersummary,
#leftcontainer > div.commentscomponent.left,
#leftcontainer > div.userpage.recentlyplayed > h4,
body > header,
body > footer,
body > div.sticky.top-14.z-10.container,
body > nav.z-20.lg\:h-14.bg-body.flex.flex-col.w-full.justify-center.lg\:sticky.lg\:top-0.lg\:hidden,
body > nav:nth-child(2),
body > section,
body > section > div > div,
#leftcontainer > div.userpage.recentlyplayed > div:nth-child(2) > div:nth-child(1),
#leftcontainer > div.userpage.recentlyplayed > div:nth-child(3),
#leftcontainer > div.userpage.recentlyplayed > div:nth-child(4),
#leftcontainer > div.userpage.recentlyplayed > div:nth-child(5),
#leftcontainer > div.userpage.recentlyplayed > div:nth-child(6),
#leftcontainer > div.userpage.recentlyplayed > div:nth-child(7),
#leftcontainer > div.userpage.recentlyplayed > div:nth-child(8),
#leftcontainer > div.userpage.recentlyplayed > div:nth-child(9),
#leftcontainer > div.userpage.recentlyplayed > div:nth-child(10),
#leftcontainer > div.userpage.recentlyplayed > div.text-right.mt-5,
#leftcontainer > div.userpage.recentlyplayed > div:nth-child(2) > div > div.progressbar-label.-mt-1,
#leftcontainer > div.userpage.recentlyplayed > div > div > div > div.completion-icon,
body > section > div > div > div.p-4.flex-1.text-center 
{
	/* remove #leftcontainer > div.userpage.recentlyplayed > div:nth-child(3) to see achievements*/
	display: none !important;
}
#leftcontainer,
#leftcontainer > div.userpage.recentlyplayed,
#leftcontainer > div.userpage.recentlyplayed > div,
#leftcontainer > div.userpage.recentlyplayed > div > div,
#leftcontainer > div.userpage.recentlyplayed > div > div > div,
body
{ 	
	background-color: rgba(0,0,0,0) !important ;
	background: rgba(0,0,0,0) !important ;
	border: none !important;
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
}
body 
{ 	
	overflow: hidden;
}
/* Make progressbar widget 100% wide */
#leftcontainer > div.userpage.recentlyplayed > div,
#leftcontainer > div.userpage.recentlyplayed > div > div {
	width: 100% !important;
}

#leftcontainer > div.userpage.recentlyplayed > div ,
#leftcontainer > div.userpage.recentlyplayed > div div ,
#leftcontainer > div.userpage.recentlyplayed > div > div ,
#leftcontainer > div.userpage.recentlyplayed > div > div > div,
#leftcontainer > div.userpage.recentlyplayed > div > div > div > div,
#leftcontainer > div.userpage.recentlyplayed > div > div > div > div > div,
body
{
	height: 100% !important;
}

#leftcontainer > div.userpage.recentlyplayed > div > div > div > div > div > div
{
	background-image: linear-gradient(180deg, #00668a, #069cd1 6%, #069cd1 50% ,#00668a 50%, #069cd1) !important;
}

